@import 'neat';
@import 'colors';

$blog-grid: (
  gutter: 60px
);

.blog {
  @include grid-container;
  margin-left: -60px;
  margin-right: -60px;

  .posts {
    @include grid-column(12, $blog-grid);

    article {
      a {
        @include grid-container;

        display: flex;
        align-items: center;

        div.image {
          @include grid-column(8);

          height: 320px;
        }

        div.detail {
          @include grid-column(4);
        }
      }
    }

    div.pagination-container {
      margin-top: 60px;

      .navigation-button {
        @extend .secondary-button;

        display: flex;
      }

      .back-button {
        float: left;

        i {
          margin-right: 6px;
        }
      }

      .next-button {
        float: right;

        i {
          margin-left: 6px;
        }
      }
    }
  }
}
