$primary-color: #D4D4D4;
$background-color: #1A1A1A;
$secondary-background-color: #333333;

// Typography
$default-text-color: #D4D4D4;
$primary-text-color: #D4D4D4;
$secondary-text-color: #D4D4D4;

// Buttons
$primary-button-color: $primary-color;
$primary-button-text-color: #FFFFFF;
$primary-button-hover-color: $primary-text-color;
$secondary-button-color: $secondary-text-color;
$secondary-button-hover-color: $primary-text-color;

// Inputs
$input-text-color: $primary-text-color;
$input-border-color: #EEE;
$input-focus-border-color: #D5D5D5;
