@import 'neat';
@import 'colors';

.site-footer {
  border: none;

  .wrapper {
    @include grid-container;

    .header-container {
      @include grid-column(6);

      a.footer-heading {
        color: $primary-text-color;

        &:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }
    }

    .social-links-container {
      @include grid-column(6);

      ul {
        float: right;

        li {
          display: inline;

          .username {
            display: none;
          }

          a {
            &:hover {
              opacity: 0.8;
            }

            svg {
              fill: $primary-text-color;
            }

          }

        }
      }
    }
  }
}
