@import 'colors';

.site-header {
  border: none;
  padding: 25px 0px;

  a:hover {
    text-decoration: none;
  }

  .site-title {
    color: $primary-text-color;
    font-weight: bold;

    &:hover {
      opacity: 0.8;
    }
  }

  .page-link {
    padding-bottom: 2px;
    font-weight: 500;
    color: $primary-text-color;

    &:hover {
      opacity: 0.8;
    }
  }

  .current {
    border-bottom: 2px solid $primary-color;
  }
}
