@import 'fonts';
@import 'colors';

body {
  background-color: white;
  color: $default-text-color;
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 19px;
  line-height: 1;
}

h1, h2, h3 {
  color: $primary-text-color;
  font-weight: 500;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

p {
  line-height: 1.6;
}
