---
# Required by front matter.
---

$content-width: 1280px !default;

@import 'minima';
@import 'neat';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'typography';
@import 'colors';
@import 'buttons';
@import 'header';
@import 'home';
@import 'blog';
@import 'posts';
@import 'social';
@import 'footer';

.page-content {
  background: $background-color;
  padding-top: 0px;
}
