---
layout: default
---

<div class="blog">
  <div class="posts">
    {%- assign posts = site.posts | where: 'locale', page.locale -%}
    {%- for post in paginator.posts -%}
    <article>
      <h2>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>

      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="date">
        {{ post.date | date: date_format }}
      </span>

      {{ post.excerpt }}

      <a href="{{ post.url | relative_url }}" class="primary-button">
        Read more
      </a>
    </article>
    {%- endfor -%}

    {% if paginator.total_pages > 1 %}
      <div class="pagination-container">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="navigation-button back-button">
            <i class="fas fa-arrow-left"></i> Newer Posts
          </a>
        {% endif %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="navigation-button next-button">
            <span>Older Posts</span> <i class="fas fa-arrow-right"></i>
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="sidebar">
    <h1>Blog</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum nibh ac ornare tincidunt. Donec vitae lorem elit. Fusce enim.
    </p>

    <form action="{{ site.search_path[page.locale] }}" method="get" class="search-form">
      <input id="search" name="query" type="text" placeholder="Search" />
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>

    <h3>Categories</h3>

    {%- assign categories_by_locale = site.categories_by_locale[page.locale] -%}
    <ul>
      {% for category in categories_by_locale %}
        <li>
          <a href="{{site.baseurl}}/categories/{{ category | slugize }}">
            {{ category }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <h3>Tags</h3>

    {%- assign tags_by_locale = site.tags_by_locale[page.locale] -%}
    <ul>
      {% for tag in tags_by_locale %}
        <li>
          <a href="{{site.baseurl}}/tags/{{ tag | slugize }}">
            {{ tag }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
